@using Caravan.Service.ViewModels;
@model List<OrderViewModel>
<table class="table table-row-dashed table-row-gray-300 gy-7">
    <thead>
        <tr class="fw-bolder fs-6 text-gray-800">
            <th>id</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Size</th>
            <th>Price</th>
            <th>Location</th>
            <th>Owner id</th>
            <th>Owner</th>
        </tr>
    </thead>
    @{
        foreach (var order in Model)
        {
            <tbody>
                <tr>
                     <td>@order.Id</td>
                     <td>@order.Name</td>
                     <td>@order.Weight</td>
                     <td>@order.Size</td>
                     <td>@order.Price</td>
                     <td>@order.TakenLocation.Longitude    , @order.TakenLocation.Latitude</td>
                     <td>@order.User.Id </td>
                     <td>@order.User.FirstName </td>
            </tr>

        </tbody>
        }
    }
       
</table>