@using Caravan.Service.ViewModels;
@model OrderViewModel

<div class="col-lg-4 card d-flex flex-row h-300px w-300px">
    <div class="row-cols-2">
        <img class="w-300px h-300px mb-3 card-rounded" src="~/@Model.ImagePath" alt="@Model.Name" />
    </div>
    <div class="row-cols-2 mx-10 bg-white pt-5 px-10 pb-10 pe-10 min-h-300px">
        <label class="fa fa-genderless fs-3 me-3">@Model.Name</label>
        <table class="table mb-3">
            <thead>
                <tr class="border-bottom fs-6 fw-bolder text-gray-400">
                    <th class="min-w-175px pb-2"><span class="badge badge-light-success mx-2">*</span></th>
                    <th class="min-w-100px text-end pb-2">Quantity</th>
                    <th class="min-w-60px text-end pb-2">Unitx</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fw-bolder text-gray-700 fs-5 text-end">
                    <td class="d-flex align-items-center pt-6">
                        <i class="fa fa-genderless text-danger fs-2 me-2"></i>Weight :
                    </td>
                    <td class="pt-6 text-dark fw-boldest">
                        @Model.Weight
                    </td>
                    <td><span class="badge badge-light-success mx-2">m3</span></td>
                </tr>
                <tr class="fw-bolder text-gray-700 fs-5 text-end">
                    <td class="d-flex align-items-center">
                        <i class="fa fa-genderless text-success fs-2 me-2"></i>Size :
                    </td>
                    <td class="fs-5 text-dark fw-boldest">
                        @Model.Size
                    </td>
                    <td><span class="badge badge-light-success mx-2">t</span></td>
                </tr>
                <tr class="fw-bolder text-gray-700 fs-5 text-end">
                    <td class="d-flex align-items-center">
                        <i class="fa fa-genderless text-primary fs-2 me-2"></i>Price :
                    </td>
                    <td class="fs-5 text-dark fw-boldest">
                        @Model.Price
                    </td>
                    <td><span class="badge badge-light-success mx-2">uzs</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a asp-controller="orders" asp-action="update" asp-route-orderId="@Model.Id" class="btn btn-light-primary" role="dialog">Update</a>
        <div>
            <a class="btn btn-light-danger" data-bs-toggle="modal" data-bs-target="#kt_modal_1" role="dialog">Delete</a>
            <div class="modal fade" tabindex="-1" id="kt_modal_1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Delete order</h3>

                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <span class="svg-icon svg-icon-1"></span>
                            </div>
                            <!--end::Close-->
                        </div>

                        <div class="modal-body">
                            <p>Do you want to delete "@Model.Name" ?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            <a asp-controller="orders" asp-action="Delete" asp-route-deleteOrderId="@Model.Id">
                                <button type="button" class="btn btn-light-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>