@using Caravan.Service.ViewModels;
@model OrderViewModel

<div class="card d-flex flex-row h-500px w-300 mt-10 me-5 mx-5 mb-15">
    <div class="d-flex flex-row justify-content-between flex-md-center align-content-lg-center ms-20">
        <div class="row-cols-2 ms-20">
            <img class="h-300px w-300px mb-3 card-rounded shadow1" src="~/@Model.ImagePath" alt="@Model.Name" />
        </div>

        <div class="row-cols-2 mx-10 bg-white pt-5 px-10 pb-10 pe-10 min-h-300px ms-20 w-550px">
            <label class="fa fa-genderless h6 fs-1 mt-10 w-500px">@Model.Name</label>
            <table class="table mb-3">
                <thead>
                    <tr class="border-bottom fs-6 fw-bolder text-gray-700">
                        <th class="min-w-175px pb-2"><span class="badge badge-warning mx-2">*</span></th>
                        <th class="min-w-100px text-end pb-2">Quantity</th>
                        <th class="min-w-60px text-end pb-2">Unitx</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fw-bolder text-gray-700 fs-5 text-end">
                        <td class="d-flex align-items-center pt-6">
                            <i class="badge badge-dark fs-2 me-2"></i>Weight :
                        </td>
                        <td class="pt-6 text-gray-500 fw-boldest">
                            @Model.Weight
                        </td>
                        <td>
                            <span class="badge badge-warning mx-2">t</span>
                        </td>
                    </tr>
                    <tr class="fw-bolder text-gray-700 fs-5 text-end">
                        <td class="d-flex align-items-center">
                            <i class="badge badge-dark fs-2 me-2"></i>Size :
                        </td>
                        <td class="fs-5 text-gray-500 fw-boldest">
                            @Model.Size
                        </td>
                        <td><span class="badge badge-warning mx-2">m3</span></td>
                    </tr>
                    <tr class="fw-bolder text-gray-700 fs-5 text-end">
                        <td class="d-flex align-items-center">
                            <i class="badge badge-dark fs-2 me-2"></i>Price :
                        </td>
                        <td class="fs-5 text-gray-500 fw-boldest">
                            @Model.Price
                        </td>
                        <td><span class="badge badge-warning mx-2">uzs</span></td>
                    </tr>
                    <tr class="fw-bolder text-gray-700 fs-5 text-end">
                        <td class="d-flex align-items-center">
                            <i class="badge badge-dark fs-2 me-2"></i>Is Taken :
                        </td>
                        <td class="fs-5 text-gray-500 fw-boldest">
                            @Model.IsTaken
                        </td>
                        <td><span class="badge badge-danger mx-2">s</span></td>
                    </tr>
                    <tr class="fw-bolder text-gray-700 fs-5 text-end">
                        <td class="d-flex align-items-center">
                            <i class="badge badge-dark fs-2 me-2"></i>Owner :
                        </td>
                        <td class="fs-5 text-gray-500 fw-boldest w-300px">
                            @Model.User.FirstName <😎> @Model.User.Email
                        </td>
                        <td><span class="badge badge-danger mx-2">s</span></td>
                    </tr>
                    <tr class="fw-bolder text-gray-700 fs-5 text-end">
                        <td class="d-flex align-items-center">
                            <i class="badge badge-dark fs-2 me-2"></i>Address :
                        </td>
                        <td class="fs-5 text-gray-500 fw-boldest">
                            @Model.LocationName
                        </td>
                        <td><span class="badge badge-danger mx-2"></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="row-cols-2">
                <a asp-controller="orders" asp-action="update" asp-route-orderId="@Model.Id" class="btn btn-primary" role="dialog">Update</a>
            </div>
            <div class="row-cols-2">
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#kt_modal_1" role="dialog">Delete</a>
                <div class="modal fade" tabindex="-1" id="kt_modal_1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Delete order</h3>

                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <span class="svg-icon svg-icon-1"></span>
                                </div>
                                <!--end::Close-->
                            </div>

                            <div class="modal-body">
                                <p>Do you want to delete "@Model.Name" ?</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <a asp-controller="orders" asp-action="Delete" asp-route-deleteOrderId="@Model.Id">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>